body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin-bottom: 10px;
  }
  
  h1.main1 {
    font-size: 28px;
  }
  
  h2.main2 {
    font-size: 24px;
    margin-top: 20px;
  }
  
  h3.main3 {
    font-size: 20px;
    margin-top: 15px;
  }
  
  h4.main4, h5.main5, h6.mian6, h4.main10, h5.main11, h6.mian12, h1.main13 {
    font-size: 18px;
    margin-top: 10px;
  }
  
  p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }