.container {
    margin: 0 auto;
    max-width: 960px;
    padding: 20px;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  header h1 {
    text-align: center;
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  header h2 {
    text-align: center;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .content {
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
}

.information {
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

h3 {
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
    align-items: center;
}

p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}
  
  footer#colophon {
    background-color: #474747;
    color: #fff;
    padding: 20px;
    text-align: center;
    max-width: 100%;
    margin: 0%;
    display: flex;
    
    
  
  footer#colophon h6 {
    margin: 0%;
    font-size: 12px;
    
  }
  
  footer#colophon a {
    color: #474747;
    text-decoration: none;
  }
  
  footer#colophon a:hover {
    text-decoration: underline;
  }
  
 